{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1> <br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to Support Plus</h1>
            <p>Welcome to the Support Plus Community. Remember consent is continuous and we at ODIP are always here to
                support you 24/7</p>
            <p>Submit your receipt ticket at <a href="provide supported email link">odip&commat;ashesi.edu.gh</a> in
                case of emergencies</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Make A Post
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}